html {
    height: 100%;
}
body {
    font-family: sans-serif;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $text-on-primary;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header, 
main,
section, 
footer {
  max-width: 960px;
  min-width: 360px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}