$primary: hsl(231, 44%, 56%);
$primary-light: hsl(233, 81%, 75%);
$primary-dark: hsl(225, 58%, 35%);
$secondary: hsl(1, 83%, 63%);
$secondary-light: hsl(5, 100%, 74%);
$secondary-dark: hsl(354, 77%, 40%);
$text-on-primary: #fff;
$text-on-secondary: #000;
