* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Container */
input{
    width: 470px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 30px ;
    border: 1px solid #c3c3c3;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: flex-start;
}

/* User editor */
.user-editor, .search-form {
    width: 600px;
    padding: 8px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    margin-right: 32px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* User list */
.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 960px;
    margin: 0 auto;
}

.user-list .user {
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.user-info {
    line-height: 1.3;
}


/* .user-info__id,
.user-info__name,
.user-info__age{
  display: inline-block;
  min-width: 55px;
} */
.user-info__text{
    display: inline-block;
    min-width: 55px;
}

.user .actions {
    margin-bottom: 16px;
    justify-content: flex-end;
}

/* Modal */
.backdrop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.backdrop.is-visible {
    display: flex;
}

.modal {
    border-radius: 2px;
    padding: 16px;
    background-color: #fff;
    width: 600px;
    min-height: 300px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.modal .actions {
    margin-top: 16px;
}

/* Actions */
.actions {
    display: flex;
    justify-content: center;
}

/* Fields */
.user{
    width: 100%;
    font-family: inherit;
    padding: 8px;
    font-size: 16px;
    resize: none;
}

/* Button */
.button , .mdc-btn {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 3px;
    margin: 0 4px;
    padding: 8px 24px;
    vertical-align: top;
    outline: 0;
    font-weight: 500;

    font-size: 15px;
    color: #222;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    background-color: #fff;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
}

.button:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}